

@font-face {
    font-family: 'myFirstFont'; 
    src: url('../Fonts/Simple\ Story.ttf') format('ttf'),
        
}


.Homepage{
    background-image: url(../Images/homepage3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    width: 100vw;
    height: 100vh;
    left:0%;
    top: 0%;
    overflow-y: hidden;
    overflow-x: hidden;
    position: relative;
}
.dummy{
    color:rgb(247, 230, 0);
    font-family: myFirstFont;
    font-size: 50px;
    -webkit-filter: drop-shadow(5px 5px 5px #222); 
    filter: drop-shadow(5px 5px 5px #222);
    text-shadow: 0 0 10px #222;
}


.homeImage{
    -webkit-filter: drop-shadow(5px 5px 5px #222); 
    filter: drop-shadow(10px 5px 5px #222);
 
}

.recommendation-element{
    position: relative;
    top:15%;
    margin-left: -2vw;
    max-width: 18rem;
    max-height: 30rem;
    z-index: 1;
    box-shadow: 10px 10px 2px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.recommendation-element:hover {
    transform: scale(1.1);
  }