

@font-face {
    font-family: myFirstFont;
    src: url("../Fonts/Simple\ Story.ttf");
  }
  

.Homepage{
    background: rgb(34,193,195);
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(235,176,46,1) 100%);
    text-align: center;
    width: 100vw;
    height: 100vh;
    left:0%;
    top: 0%;
    position: absolute;
}
.dummy{
    color:rgb(247, 230, 0);
    font-family: myFirstFont;
    font-size: 50px;
    -webkit-filter: drop-shadow(5px 5px 5px #222); 
    filter: drop-shadow(5px 5px 5px #222);
    text-shadow: 0 0 10px #222;
}


.homeImage{
    -webkit-filter: drop-shadow(5px 5px 5px #222); 
    filter: drop-shadow(10px 5px 5px #222);
}